/* 
Передвинути костюмчики доверху, на 20 пікселів.
Змінити світіння карточки на жовтий колір 
*/

.fly-1 {
	bottom: 60px;
}

.fly-2 {
	top: 20px;
}

.card:hover img {
	box-shadow: 0px 0px 2000px rgb(252, 202, 2);
}
